@import url(root.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div_1 p{
  display:inline-block;
  font-size: 2rem;
}

.div_1 img {
  float: right;
  width: 300px;
}

.div_2 p{
  clear: right;
  font-size: 2rem;
}

